<h2>Are You Feeling It?!</h2>
<div align="center">Welcome to the app that will make your day, or break it... Your choice. Enter your name in the text field and click "compliment", to receive a compliment, or "insult", to be insulted.</div>
{{outlet}}
<input id="" placeholder="input name here">
<p>
<p>
<button type="button" class="btn btn-info">Compliment Me!</button>
<button type="button" class="btn btn-danger">Insult Me...</button>
